.lettre {
	background-color: #f8f8f8;
	padding: 0;
	width: 70%;
	margin: auto;
	font-family: "paratexte";
}
@media only screen and (max-width: 1000px) {
	.lettre {
		width: 100%;
	}
}
.lettre font p {
	font-weight: bold;
}


.personne, .journal {
	text-align: justify;
	font-size: 1.1em;
	width: 90%;
	padding: 1.5em;
	margin: -1em auto 0 auto;
}

.personne > a:first-child, .journal > a:first-child {
	display: block;
	position: relative; margin-top: 1em;
}

/*.personne>p:nth-child(2), .personne {
	width: 60%;
	
}*/


.personne p {
	position: relative;
	margin: 0.2em 0; text-indent: 1em;
}

.personne p.bio {
	font-style: italic; font-size: 0.9em; color: #111;
	margin: 0 0 0.8em -0.2em;
	text-indent: 0;
	font-family: "paratexte";
}




.personne span.dates {

	position: absolute;
	right: 0; top: 0;
}

.personne span.nom {
	font-variant: small-caps; font-weight: bold;
	font-size: 1.2em;
	margin-left: -1em ;
}

.personne span.prenom {
	font-weight: bold;
}

/*.personne ul {
	margin-right: 0; width: 95%; padding: 0;
	margin-top: 0; margin-bottom: 0;

}*/

.personne div.references, .personne span.dates {
	font-family: "bastiat";
}

.journal .bio, .journal .references {
	font-family: "bastiat";
}


.journal .titre {
	font-weight: bold;
}

.journal ul, .personne ul {
	list-style-type: square;
	margin-left: 5%;
	width: 85%;
}
.journal ul li, .personne ul {
	margin: auto;
}

.sommaire p.alphabet {
	position: fixed;
	left: 0; right: 0; top:0; margin-top: 0;
	padding: 1em;
	font-weight: bold;
	background: rgba(255,255,255,0.9);
	z-index:15;
	border-radius: 0 0 10px 10px;
	text-align: center;
	font-size: 1.2em; height: 0.8em; line-height: 0.8em;
	font-family: "paratexte";
}

/*Index des Journaux*/
ul.journaux {
	list-style-type: none;
	width: 100%;
	margin: auto; padding: 0;
	text-align: left;
	position: relative;
}

.sommaire #sidebar h5 {
	font-size: 0.9em;
}

.itemjournal {
	display: block;

}

.itemjournal .titre {
	font-weight: bold;
}

.itemjournal a.titre:link, .itemjournal a.titre:visited {
	color: #88A500;
}

.itemjournal a.titre:hover {
	color: #558500;
}

/*code pour afficher les div.about on hover*/
/*.itemjournal a.titre:hover + div.about {
display: block;
}*/

.itemjournal .about {
	display: none;
}