sup {line-height: 0;}



.bastiat {
	width: 50%;
	min-width: 20em;
	margin: 3em auto;
	font-family: "berenis";
	font-size: 1.15em;
	line-height: 1.5em;
}
@media only screen and (max-width: 25cm) {
	.bastiat {
		width: 80%;
		font-size: 1.2em;
	}
}

.bastiat p {
	text-indent: 1.4em;
	margin: 0.8em 0;
}

.liste p {
	margin: 0.4em 0;
}

span[style="font-variant: small-caps"] {
	font-size: large;
	letter-spacing: 1pt;
}

/*Polices de caractères*/

@font-face{
    font-family:'berenis';
    src:url("fonts/BerenisADFNo2-Book.otf");
    font-weight:normal;font-style:normal;
}
@font-face{
    font-family:'berenis';
    src:url("fonts/BerenisADFNo2-Italic.otf");
    font-weight:normal;font-style:italic;
}

/*Style épistolaire*/

.cher {
	font-variant: small-caps;
	padding: 2em 0 1em 4em;
	font-size: large;
}

.politesse {
	padding-left: 3em;
}

/*Poésie*/

.vers {
	font-size: 80%;
	padding-left: 3em;
}

/*Mise en forme des liens*/

.np:link, .np:visited {
	color: #700;
	text-decoration: none;
}
.np:hover {
	color: #c00;
}

.tj:link, .tj:visited {
	color: #005;
	text-decoration: none;
}

.tj:hover {
	color: #05b;
}