body {
	margin: 0 0 1.5em 0; padding: 0; /*margin top 6em pour les pages avec header inamovibles...*/
}

a:link, a:visited {text-decoration: none; color: #33f;}
a:hover {color: #950;}
a[name] {
	display: inline-block;
    position: relative;
    top: -5em; /*Pour que le header ne cache pas la cible des liens*/
    visibility: hidden;
}
/*Rendre insélectionnables les appels de note. Ça ne marche pas encore tout à fait... T_T*/
a[href*=footnote], a[href*=footnote] sup {
	user-select: none;
	-webkit-touch-callout: none; /* iOS Safari */
 	-webkit-user-select: none;   /* Chrome/Safari/Opera */
 	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
}

sup {line-height: 0;}


/*Polices de caractères*/

@font-face{
    font-family:'berenis';
    src:url("fonts/BerenisADFNo2-Book.otf");
    font-weight:normal;font-style:normal;
}
@font-face{
    font-family:'berenis';
    src:url("fonts/BerenisADFNo2-Italic.otf");
    font-weight:normal;font-style:italic;
}

@font-face{
    font-family:'accanthis';
    src:url("fonts/AccanthisADFStd-Regular.otf");
    font-weight:normal;font-style:normal;
}
@font-face{
    font-family:'accanthis';
    src:url("fonts/AccanthisADFStd-Italic.otf");
    font-weight:normal;font-style:italic;
}

@font-face{
    font-family:'accanthis';
    src:url("fonts/AccanthisADFStd-Bold.otf");
    font-weight:bold;font-style:normal;
}
@font-face{
    font-family:'accanthis';
    src:url("fonts/AccanthisADFStd-BoldItalic.otf");
    font-weight:bold;font-style:italic;
}


/*Styles des sommaires*/

.sommaire {
	margin: 3em auto;
	width: 90%;
	font-size: 1.05em;
	font-family: "accanthis";
}

.sommaire ul {
	margin: auto;
	list-style-type: none;
	width: 75%;
}

.sommaire ul li.article {
	margin: 1em 0;
}

.sommaire ul .date {
	font-weight: bold;
	display: inline-block;
	min-width: 17%;
	text-align: right;
	padding: 0 0em 0 0;
	height: 1.5em;
	white-space: nowrap;
	vertical-align: middle;
}

.sommaire ul .titre {
	font-style: italic;
	text-align: justify;
	display: inline-block;
	width: 80%;
	float: right;
	margin-top: -0.2em;
	vertical-align: middle;
	font-size: large;
}
.titre em {font-style: normal;}

.titre a:link, .titre a:visited {color: green;}
.titre a:hover {color: #c00;}

.sommaire ul .about {
	display: block;
	text-align: justify;
	clear: both;
	padding: 0.4em 2em 1em 4em;
}

/*Styles du texte de Bastiat*/

.bastiat {
	width: 60%;
	min-width: 20em;
	margin: 3em auto;
	font-family: "berenis";
	font-size: 1.2em;
	line-height: 1.8em;
}
@media only screen and (max-width: 25cm) {
	.bastiat {
		width: 80%;
		font-size: 1.2em;
	}
}

.bastiat h2 {
	text-align: center;
	font-variant: small-caps;
	font-weight: normal;
	margin: 2em 0;
	font-family: accanthis;
	font-size: 1.3em;
}
h2 sup, h2 i {font-variant: normal;}

.bastiat h3 {
	font-style: italic;
	text-align: center;
	font-weight: normal;
	padding-top: 1em;
}

.bastiat p {
	text-indent: 1.4em;
	margin: 0.8em 0;
}

.bastiat > blockquote {
	font-size: 0.9em;
	margin-right: 0;
}

.liste p {
	margin: 0.4em 0;
}

.bastiat p.noselect {
	color: #444;
	text-align: right;
	font-style: italic;
	padding-top: 2em;
	user-select: none;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

table.petit {
	width: 110%; 
	border-spacing: 1em;
	position: relative; left: -2.5em;
}

table.petit p, table.petit blockquote {
	font-size:1em;
	margin: 0.5em 0;
	padding: 0;
}

table.petit td {
	width: 50%;
	padding: 0;
	vertical-align: top;}

span[style="font-variant: small-caps"] {
	font-size: large;
	letter-spacing: 0.1em;
}

em span[style="font-variant: small-caps"] {
	font-style: normal;
}


/*Style épistolaire*/

.cher {
	font-variant: small-caps;
	padding: 2em 0 1.5em 3em;
	font-size: larger;
}

.politesse {
	padding-left: 3em;
}

.sign {
	text-align: right;
	font-variant: small-caps;
	font-size: large;
}

.bastiat > .date {
	font-size: 0.85em;
	text-indent: 1.4em;
}

.datetag {
	text-align: right;
	margin-bottom: 2em;
	font-size: 0.9em;
}

/*Épigraphes*/

.epigraphe {
	width: 60%;
	margin: 2em 0 4em auto;
	font-size: 0.9em;
	text-align: justify;
}

/*Poésie*/

.vers {
	font-size: 80%;
	padding-left: 4em;
}

.cvers {
	text-align: center;
	font-size: 80%;
}

/*Tableaux*/

.bastiat table {
	margin:auto;
}

/*Mise en forme des liens*/

.np:link, .np:visited {
	color: #700;
	text-decoration: none;
}
.np:hover {
	color: #c00;
}

.tj:link, .tj:visited {
	color: #005;
	text-decoration: none;
}

.tj:hover {
	color: #05b;
}

/*Footer, Header*/

.footer, .header {
	position: fixed; left: 0;
	width: 100%;
	text-align: center;
	z-index:5;
}

.footer {
bottom: 0;
height: 3.5em; min-height:1cm;
background-color: rgba(255,255,255,0.8); /*#9c0;*/
}

.header {
top: 0;
height: 5em;
font-family: berenis;
background-color: #cf0;
color: #070;
display: flex;
justify-content: center;
}

.header .titre {
font-size: 1.5em;
/*position: absolute;
 top: 50%; left: 50%;
 transform: translate(-50%,-50%);*/ /*Façon alternative de centrer verticalement,
 je la garde sous le coude au cas où l'autre ne serait pas bien prise en charge par tous les brouteurs.*/
 align-self: center;
}

.header .auteur {
font-style: italic;
margin: auto;
}



.footer a:visited, .footer a:link {
	text-decoration: none;
	color: #444;
	font-weight: bold;
	padding: 0;
}


.footer a:hover {
	color: #7a0;
}

.footer .arbor {
	float:left; display: block;
	height: 100%;
	position: relative;
	min-width: 12em; width: auto; max-width: 20em; white-space: nowrap;
	vertical-align: middle;
	background-color: rgba(255, 255, 255, 0.7);
}

.arbor .retour {
	width:100%; height: 55%;
	position: absolute; top: 0; left: 0; line-height: 2em;
	text-align: center;
}

.prec, .suiv {
	position: absolute;
	bottom: 0;
	width: 45%; height: 40%; line-height: 0.5em;
}

.prec {
	float: left;
	left:0;
	text-align: right;
}

.suiv {
	float: right;
	right:0;
	text-align: left;
}




/*Index des personnes*/
.personne, .journal {
	text-align: justify;
	margin: 2em;
}

.personne p {
	position: relative;
}

.personne p:nth-child(2) {
	width: 75%;
}

.personne span.dates {
	
	position: absolute;
	right: 0; top: 0;
}

.personne span.nom {
	font-variant: small-caps;
	font-size: 1.4em;
}

.journal .titre {
	font-style: italic;
}